<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>tabs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-tabs>	
      <ion-tab [root]='InboxPage' tabTitle='Inbox' tabIcon='mail'></ion-tab>	
      <ion-tab [root]='ChannelPage' tabTitle='Channel' tabIcon='people'></ion-tab>	
      <ion-tab [root]='ProfilePage' tabTitle='Profile' tabIcon='person'></ion-tab>
    </ion-tabs>

</ion-content>
